<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<h1 class="custom-login">New Recipe</h1>

<%= render 'form', recipe: @recipe %>

<div>
  <%= link_to 'Back', recipes_path %>
</div>
</div>
