<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<h1>Edit User</h1>

<%= render 'form', user: @user %>

<div>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
</div>
