<p><%= notice %></p>

<h1>Listing foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to 'Show', food %>
    </p>
  <% end %>
</div>

<%= link_to 'New Food', new_food_path %>
