<%= stylesheet_link_tag "application"%>

<div class="logger_in_form">
<h1 class="custom-login">Editing Recipe Food</h1>

<%= render 'form', recipe_food: @recipe_food %>
<div class="actions">
  <%= link_to 'Show', @recipe_food %> |
  <%= link_to 'Back', recipe_foods_path %>
</div>
</div>
